<?xml version="1.0"?>
<!--
/**
 *
 * @category 	Notification
 * @package 	Synsoft_Notification
 * @author  	Synsoft Global Developer
 */
-->
<!--<config>
    <modules>
        <Synsoft_Notification>
            <version>1.0.0</version>
        </Synsoft_Notification>
    </modules>
    <global>
        <blocks>
            <notification>
                <class>Synsoft_Notification_Block</class>
            </notification>
        </blocks>
		<models>
            <notification>
                <class>Synsoft_Notification_Model</class>
            </notification>
			<notification_mysql4>
                <class>Synsoft_Notification_Model_Mysql4</class>
			</notification_mysql4>
        </models>
		<resources>
            <notification_setup>
                <setup>
                    <module>Synsoft_Notification</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </notification_setup>
            <notification_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </notification_write>
            <notification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </notification_read>
        </resources>       
		<helpers>
            <notification>
                <class>Synsoft_Notification_Helper</class>
            </notification>
        </helpers>
    </global>
	<admin>
        <routers>
            <notificationadmin>
				<use>admin</use>
                <args>
                    <module>Synsoft_Notification</module>
                    <frontName>notificationadmin</frontName>
                </args>
            </notificationadmin>
        </routers>
    </admin>
	<adminhtml>
        <layout>
            <updates>
                <notification>
                    <file>notification.xml</file>
                </notification>
            </updates>
        </layout>
    </adminhtml>
     <frontend>
        <secure_url>
            <notification>/notification/</notification>
        </secure_url>
        <routers>
            <notification>
                <use>standard</use>
                <args>
                    <module>Synsoft_Notification</module>
                    <frontName>notification</frontName>
                </args>
            </notification>
        </routers>
        <layout>
            <updates>
                <notification module="Synsoft_Notification">
                    <file>notification.xml</file>
                </notification>
            </updates>
        </layout>
    </frontend>
</config>--> 
<config>
	<modules>
		<Synsoft_Notification>
			<version>0.1.0</version>
		</Synsoft_Notification>
	</modules>
	<frontend>
		<routers>
			<notification>
				<use>standard</use>
				<args>
					<module>Synsoft_Notification</module>
					<frontName>notification</frontName>
				</args>
			</notification>
		</routers>
		<layout>
			<updates>
				<notification>
					<file>notification.xml</file>
				</notification>
			</updates>
		</layout>
	</frontend>
	<admin>
        <routers>
            <notificationadmin>
				<use>admin</use>
                <args>
                    <module>Synsoft_Notification</module>
                    <frontName>notificationadmin</frontName>
                </args>
            </notificationadmin>
        </routers>
    </admin>
	<adminhtml>
        <layout>
            <updates>
                <notification>
                    <file>notification.xml</file>
                </notification>
            </updates>
        </layout>
    </adminhtml>
	<global>
		<models>
			<notification>
				<class>Synsoft_Notification_Model</class>
				<resourceModel>notification_mysql4</resourceModel>
			</notification>
			<notification_mysql4>
				<class>Synsoft_Notification_Model_Mysql4</class>
				<entities>
					<notification>
						<table>notification_user</table>
					</notification>
				</entities>
			</notification_mysql4>
		</models>
		<resources>
			<notification_setup>
				<setup>
					<module>Synsoft_Notification</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</notification_setup>
			<notification_write>
				<connection>
					<use>core_write</use>
				</connection>
			</notification_write>
			<notification_read>
				<connection>
					<use>core_read</use>
				</connection>
			</notification_read>
		</resources>
		<blocks>
			<notification>
				<class>Synsoft_Notification_Block</class>
			</notification>
		</blocks>
		<helpers>
			<notification>
				<class>Synsoft_Notification_Helper</class>
			</notification>
		</helpers>
	</global>
</config>
